<nav>
    <a href="/">Home</a>
    <% if (user) { %>
    <a href="/recipes">My Recipes</a>
    <a href="/recipes/new">Create Recipe</a>
    <a href="/ingredients">Ingredients</a>
    <a href="/users">Community</a>
    <a class="nav-right" href="/auth/sign-out">Log Out</a>
    <% } else { %>
    <div class="nav-right">
        <a href="/auth/sign-in">Log In</a>
        <a href="/auth/sign-up">Register</a>
    </div>
    <% }; %>
</nav>
<br>