@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 1vmin;
    background-image: url('https://getsidedish.com/cdn/shop/files/SideDishJuly231229591_1_868b70f7-22a1-4d18-a172-034a9e5b3dc7.jpg?v=1699490030');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    --yellow: #FFDF46;
    --white: #DFE3EC;
    --black: #252123;
    color: var(--black);
}

nav {
    display: flex;
    justify-content: flex-start;
    padding: 1vmin 2vmin;
    align-items: center;
}

nav a {
    margin: 0 1vmin;
    padding: 1vmin 2vmin;
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 10%;
    text-decoration: none;
    box-shadow: 3px 3px 5px var(--black);
}

input[type="button"],
button {
    margin: 1vmin;
    padding: 1vmin 2vmin;
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 10%;
    box-shadow: 3px 3px 5px var(--black);
    font-family: 'Poppins', sans-serif;
    transition: 0.2s;
    font-weight: bold;
}

input[type="button"]:hover,
button:hover {
    box-shadow: 5px 5px 5px var(--black);
    cursor: pointer;
}

nav a:hover {
    box-shadow: 5px 5px 5px var(--black);
    background-color: var(--black);
    color: var(--yellow);
}

.nav-right {
    margin-left: auto;
}

form,
ul {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
    padding: 2vmin;
    border-radius: 2vmin;
}

ul ul {
    background-color: rgba(0,0,0,0);
}

form * {
    padding: 5px;
}

li {
    margin: 1vmin;
}

li a {
    color: var(--white);
}

li a:hover {
    font-weight: bold;
}

input,
textarea {
    font-family: 'Poppins', sans-serif;
    padding: 3px;
    background-color: var(--white);
}

textarea {
    width: 50%;
    height: 15%;
}

label textarea {
    vertical-align: middle;
}

.index-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}