<%- include('../partials/_htmlhead') %>
    <title>Ingredients</title>
</head>
<body>
    <%- include('../partials/_navbar') %>
    <h1>Ingredients</h1>
    <form action="/ingredients" method="POST">
        <label for="name">New ingredient:</label>
        <input type="text" name="name">
        <button type="submit">Add ingredient</button>
    </form>
    <br>
    <ul>
        <% ingredients.forEach(ingredient => { %>
            <li><%= ingredient.name %></li>
        <% }); %>
    </ul>
</body>
</html>