<%- include('../partials/_htmlhead') %>
<title>My Recipes</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1>recipes index</h1>
    <ul>
        <% recipes.forEach(recipe => { %>
            <li><a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a></li>
        <% }); %>
    </ul>
</body>

</html>