<%- include('../partials/_htmlhead') %>
<title>My Recipes</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1>add new recipe</h1>
    <form action="/recipes" method="POST">
        <label for="name">Recipe name:</label>
        <input type="text" name="name">
        <br><br>
        <label for="instructions">Instructions:
            <textarea name="instructions" id="instructions"></textarea>
        </label>
        <br><br>
        <fieldset>
            <legend>Choose your ingredients:</legend>
            <% ingredients.forEach(ingredient => { %>
            <div>
                <input type="checkbox" name="ingredients" value="<%= ingredient._id %>">
                <label for="ingredients"><%= ingredient.name %></label>
            </div>
            <% }); %>
        </fieldset>

        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>